---
layout: default
---

<div class="index">

    <img src="/assets/gmitch215.png" class="logo" alt="gmitch215" title="{{ page.summary }}">
    <h1 class="title" id="index-title">{{ site.title }}</h1>
    <h2 class="subtitle">{{ page.tagline }}</h2>
    <h3 class="subtitle" id="index-subtitle"></h3>

    <div class="donations">
        {% for donate in site.data.donate %}
        <a href="{{ donate.url }}" class="donate" title="{{ donate.name }}" target="_blank">
            <img src="{{ donate.img }}" alt="{{ donate.name }}">
        </a>
        {% endfor %}
    </div>    

    <br>

    <p class="small" id="repos">Loading...</p>
    <p class="small" id="downloads">Loading...</p>
    <p class="small" id="stars">Loading...</p>

</div>